.destination {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

.destination__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination__row-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destination__card-title,
.destination__card-price,
.destination__card-rate {
    font-size: var(--font-size-xxxmedium);
    font-weight: var(--font-weight-body);
}

.destination__card-price {
    order: 1;
}

.destination__card-title {
    order: 2;
}

.destination__card-rate {
    order: 3;
}

.destination__card {
    max-width: 23.6rem;
    cursor: pointer;
    display: flex;
}

.destination__row {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.destination__controls {
    display: flex;
    justify-content: space-between;
}

.destination__list-card {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.destination__card-content {
    padding: 1.99rem;
    display: flex;
    flex-direction: column;
    color: var(--color-heading);
    gap: 1rem;
}

.destination__card-price {
    color: var(--color-accent);
}

.destination__card-rate {
    color: var(--color-highlight);
    display: flex;
    gap: 0.3rem;
    flex-wrap: nowrap;
    margin-top: 1rem;
}

.destination__card-rate-icon {
    max-width: 1.5rem;
}

@media (min-width: 768px) {
    .destination__list-card {
        flex-direction: row;
        gap: 1.7rem;
        justify-content: center;
    }

    .destination__card {
        max-width: 17.5rem;
    }

    .destination__controls {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .destination {
        gap: 2rem;
    }

    .destination__header {
        align-items: flex-start;
    }

    .destination__row-header {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .destination__row {
        flex-direction: row;
    }

    .destination__card-price {
        order: 1;
    }

    .destination__card-title {
        order: 1;
    }

    .destination__card-rate {
        order: 2;
    }

    .destination__controls {
        justify-content: flex-start;
    }

    .destination__list-card {
        margin-top: 0;
        justify-content: space-between;
    }

    .destination__card {
        max-width: 23.6rem;
        gap: 1rem;
    }
}