.feature__container {
    display: flex;
    max-width: 1312px;
    margin: 0 auto;
    padding: 4rem 0 2rem;
    flex-direction: column;
    gap: 2rem;
}

.feature__left-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    order: 2;
}

.feature__right-wrapper {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: center;
}

.feature__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__description-title {
    display: flex;
    text-align: center;
    padding: 1.3rem 4rem 1.8rem 0;
}

.feature__line-break {
    display: none;
}

.feature__cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.feature__card {
    width: 83%;
    border-radius: var(--radius-xl);
    padding: 2rem;
    cursor: pointer;
}

.feature__card-content {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.feature__icon {
    max-width: 6.25rem;
}

.feature__card-title {
    color: var(--color-header);
    font-size: var(--font-size-xxxmedium);
    line-height: var(--line-height-tight);
    font-weight: var(--font-weight-body);
}

.feature__card--schedule-icon {
    border: 1px solid var(--color-border);
}

.feature__card-container {
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 480px) {
    .feature__card {
        padding: 2rem;
    }

    .feature__description-title {
        padding: 1.3rem 0 1.8rem 0;
        max-width: 47rem;
    }

    .feature__card-container {
        flex-direction: row;
        align-items: center;
    }
}

@media(min-width: 1024px) {
    .feature__container {
        flex-direction: row;
    }

    .feature__left-wrapper {
        order: 1;
        align-items: flex-start;
        width: 70%;
    }

    .feature__right-wrapper {
        width: 60%;
        order: 2;
    }

    .feature__cards {
        align-items: start;
    }

    .feature__card {
        width: 96%;
    }

    .feature__content {
        align-items: flex-start;
    }

    .feature__description-title {
        text-align: start;
        padding: 1.3rem 4rem 1.8rem 0;
    }

    .feature__line-break {
        display: block;
    }
}