.feature__container {
    display: flex;
    max-width: 1312px;
    margin: 0 auto;
    padding: var(--padding-section) 32px;
    flex-direction: column;
    gap: 32px;
}

.feature__left-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    gap: 32px;
    order: 2;
}

.feature__right-wrapper {
    width: 100%;
    order: 1;
}

.feature__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__description-title {
    padding: 0 42px;
    display: flex;
    text-align: center;
}

.feature__line-break {
    display: none;
}

.feature__cards {
    display: flex;
    align-items: center;
}

.feature__cards,
.feature__card {
    display: flex;
    flex-direction: column;
}

.feature__card {
    width: 80%;
    border-radius: var(--radius-xl);
    padding: 32px 32px 0 32px;
}

.feature__card-content {
    max-width: 270px;
}

.feature__icon {
    max-width: 100px;
}

.feature__card-title {
    color: var(--color-header);
    font-size: var(--font-size-xxxmedium);
    line-height: var(--line-height-tight);
    font-weight: var(--font-weight-body);
}

.feature__card--schedule-icon {
    border: 1px solid var(--color-border);
}

ul.feature__cards {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.feature__card {
    list-style: none;
    margin: 0;
}

figure {
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

@media (min-width: 480px) {
    .feature__container {

    }
    .feature__card {
        width: 80%;
    }

    .feature__description-title {
        padding: 0 100px;
    }
}


/*
.feature__container {
    display: flex;
    max-width: 1312px;
    margin: 0 auto;
    padding: var(--padding-section) 0;
    gap: 75px;
}

.feature__left-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    gap: 64px;
    margin-right: 32px;
}

.feature__right-wrapper {
    width: 100%;
}

.feature__cards,
.feature__card {
    display: flex;
}

.feature__cards {
    flex-direction: column;
}

.feature__card {
    gap: 32px;
    border-radius: var(--radius-xl);
    padding: 32px;
}

.feature__icon {
    max-width: 100px;
}

.feature__card-title {
    color: var(--color-header);
    font-size: var(--font-size-large);
    line-height: var(--line-height-tight);
    font-weight: var(--font-weight-body);
}

.feature__card--schedule-icon {
    border: 1px solid var(--color-border);
}

ul.feature__cards {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.feature__card {
    list-style: none;
    margin: 0;
}

figure {
    margin: 0;
    display: flex;
    align-items: flex-start;
    gap: 32px;
}