.footer {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 0 2.4rem;
}

.footer__container {
    max-width: var(--max-width-container-secondary);
    margin: 0 auto;
    padding: 2.05rem 0;
    display: flex;
    gap: 1.875rem;
    flex-direction: column;
}

.footer__logo {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    margin-bottom: 2rem;
}

.footer__about {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__socials {
    width: 70%;
    display: flex;
    gap: 2rem;
    margin-top: 1.8125rem;
    margin-left: 0.1rem;
    order: 2;
}

.footer__description {
    padding-right: 1rem;
    padding-left: 0.25rem;
}

.footer__list {
    display: none;
}

.footer__list--expanded {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 0;
    gap: 2rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.footer__links--mobile-row {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 0 0.1rem;
    justify-content: space-between;
}

.footer__heading {
    color: var(--color-heading);
    font-size: var(--font-size-xxxmedium);
    font-weight: var(--font-weight-body);
}

@media(min-width: 780px) {
    .footer {
        padding: 0 4rem;
    }

    .footer__container {
        padding: 5.9rem 0 1rem;
        gap: 2.9rem;
    }

    .footer__description {
        padding-right: 0;
        padding-left: 0;
        padding-top: 1rem;
    }

    .footer__logo {
        margin-bottom: 1rem;
        gap: 1rem;
    }

    .footer__toggle {
        display: none;
    }

    .footer__heading {
        margin-bottom: 2rem;
    }

    .footer__links--mobile-row {
        flex-direction: row;
    }

    .footer__link-container {
        display: flex;
        padding: 0 2rem 0 0;
        justify-content: space-between;
    }

    .footer__links {
        padding: 1rem 0;
        width: 14.4rem;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
        gap: 1.87rem;
    }

    .footer__link {
        color: inherit;
    }
}

@media(min-width: 1025px) {
    .footer__container {
        flex-direction: row;
        gap: 4.2rem;
        padding: 8rem 0 1rem;
    }

    .footer__logo {
        margin-top: 1rem;
    }

    .footer__about {
        width: 47%;
    }

    .footer__links {
        padding: 1rem 0;
        width: 10.3rem;
    }

    .footer__socials {
        margin-top: 4rem;
    }

    .footer__text--column-reverse {
        display: flex;
        flex-direction: column-reverse;
        gap: 1.8rem;
    }

    .footer__link-container {
        gap: 2rem;
        padding: 0.15rem 0;
    }
}