.footer__container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 1.2rem 2.5rem;
    display: flex;
    gap: 1.875rem;
    flex-direction: column;
}

.footer__logo {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    margin-bottom: 2rem;
}

.footer__about {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__socials {
    width: 70%;
    display: flex;
    gap: 2rem;
    margin-top: 1.8125rem;
    order: 2;
}

.footer__list {
    display: none;
}

.footer__list--expanded {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 0;
    gap: 2rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.footer__links--mobile-row {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}

.footer__heading {
    color: var(--color-heading);
    font-size: var(--font-size-xxxmedium);
    font-weight: var(--font-weight-body);
}

@media(min-width: 780px) {
    .footer__container {
        padding: 8rem 3.5rem 1rem;
        gap: 2.9rem;
    }

    .footer__logo {
        margin-bottom: 1rem;
    }

    .footer__toggle {
        display: none;
    }

    .footer__heading {
        margin-bottom: 2rem;
    }

    .footer__description {
        padding-top: 1rem;
    }

    .footer__links--mobile-row {
        flex-direction: row;
    }

    .footer__link-container {
        display: flex;
        padding: 0 2.2rem 0 0;
        justify-content: space-between;
    }

    .footer__links {
        padding: 1rem 0;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer__link {
        color: inherit;
    }
}

@media(min-width: 1024px) {
    .footer__container {
        flex-direction: row;
        gap: 4rem;
        padding: 8rem 0 1rem;
    }

    .footer__logo {
        margin-top: 1rem;
    }

    .footer__about {
        width: 50%;
    }

    .footer__socials {
        margin-top: 4rem;
    }

    .footer__link-container {
        gap: 2rem;
        padding: 0;
        flex: 2 1 37.5rem;
    }
}