.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 16px;
  max-width: var(--max-width-container);
  margin: 0 auto;
}

.site-header__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.site-header__nav {
  display: none;
}

.site-header__auth {
  display: none;
}

.site-header__menu {
  display: flex;
  padding: 8px;
}

@media (min-width: 480px) {
  .site-header__auth {
    display: flex;
    align-items: center;
    gap: 16px;
    order: 3;
  }

  .site-header__menu {
    order: 1;
  }

  .site-header__logo {
    order: 2;
  }

  .site-header__login {
    color: var(--color-text-primary);
    text-decoration: none;
    font-family: var(--font-body);
    padding: 7px 26px;
    border-radius: var(--radius-full);
  }

  .site-header__signup {
    background-color: var(--color-button);
    color: var(--color-light-border);
    padding: 7px 26px;
    border-radius: var(--radius-full);
    text-decoration: none;
    font-family: var(--font-body);
  }
}

@media (min-width: 1024px) {
  .site-header {
    padding: var(--padding-inline) var(--padding-section);
    max-width: var(--max-width-container);
  }

  .site-header__menu {
    display: none
  }

  .site-header__link {
    text-decoration: none;
    color: var(--color-text-secondary);
    font-size: var(--font-size-small);
    font-family: var(--font-body);
  }

  .site-header__link--home {
    color: var(--color-heading);
  }

  .site-header__nav {
    display: flex;
    gap: 64px;
    order: 2;
  }
}