.partner-logos {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 1rem 2rem 1.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.3rem;
}

.partner-logos__item-tripadvisor,
.partner-logos__item-expedia,
.partner-logos__item-booking,
.partner-logos__item-airbnb,
.partner-logos__item-orbitz {
    height: auto;
    flex: 0 0 auto;
}

.partner-logos__item-booking,
.partner-logos__item-orbitz {
    width: 30%;
}

.partner-logos__item-tripadvisor {
    width: 35%;
}

.partner-logos__item-expedia,
.partner-logos__item-airbnb {
    width: 20%;
}

@media (min-width: 480px) {
    .partner-logos {
        padding: 5.5rem 10%;
    }

    .partner-logos__item-tripadvisor,
    .partner-logos__item-expedia,
    .partner-logos__item-booking,
    .partner-logos__item-airbnb,
    .partner-logos__item-orbitz {
        width: fit-content;
    }
}

/*line break*/
@media (min-width: 880px) {
    .partner-logos {
        padding: 5.5rem 17%;
    }
}

@media (min-width: 1024px) {
    .partner-logos {
        justify-content: space-between;
        padding: 5rem 0 1rem;
    }
}