.partner-logos {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.partner-logos__item {
    width: 60px;
    height: auto;
    flex: 0 0 auto;
}

.partner-logos__big-item {
    width: 110px;
    height: auto;
    flex: 0 0 auto;
}

@media (min-width: 480px) {
    .partner-logos__item {
        width: 110px;
    }

    .partner-logos__big-item {
        width: 190px;
    }

    .partner-logos {
        padding: 64px 32px;
    }
}

/*line break*/
@media (min-width: 720px) {
    .partner-logos {
        padding: 0 10%;
    }
}

@media (min-width: 835px) {
    .partner-logos {
        padding: 0 17%;
    }
}

@media (min-width: 1024px) {
    .partner-logos {
        justify-content: space-between;
        padding: 0;
    }
}