.service {
    display: flex;
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 2.5rem 1rem 4rem;
    align-items: center;
    flex-direction: column;
}

.service__header {
    text-align: center;
}

.service__list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1.5625rem;
    width: 100%;
}

.service-card {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

.service-card__icon {
    width: 4rem;
}

.service-card__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.service-card__heading {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-tight);
    color: var(--color-heading);
}

@media(min-width: 480px) {
    .service-card__heading {
        font-size: var(--font-size-slarge);
    }

    .service-card__text {
        max-width: 10.375rem;
    }
}

@media (min-width: 768px) {
    .service__list {
        flex-direction: row;
        gap: 1.6rem;
        margin-top: 2.9rem;
    }

    .service-card {
        max-width: 18rem;
        padding: 4rem 4rem 1.7rem;
        gap: 4.15rem;
    }
}

@media (min-width: 1024px) {
    .service {
        flex-direction: row;
        justify-content: space-between;
        padding: 1.9rem 0 1rem;
    }

    .service__header {
        width: 40.9375rem;
        text-align: start;
    }

    .service__list {
        overflow-x: auto;
        padding: 2rem 2rem 5.6rem 2rem;
        overflow-y: hidden;
        transition: overflow 0.3s ease;
        scroll-snap-align: start;
    }

    .service__list:hover {
        overflow-y: auto;
    }

    .service__list::-webkit-scrollbar {
        display: none;
    }

    .service__list::-webkit-scrollbar-thumb {
        background-color: rgba(162, 161, 161, 0.3);
        border-radius: var(--radius-xl);
    }

    .service__list:hover::-webkit-scrollbar {
        display: block;
    }

    .service-card {
        flex: 0 0 auto;
        max-width: 22.2rem;
        padding: 3rem 3.9rem 4.7rem;
        
    }

    .service-card__heading {
        font-size: var(--font-size-slarge);
        font-weight: var(--font-weight-body);
        color: var(--color-heading);
    }

    .service-card__text {
        max-width: 13.75rem;
    }
}