.testimonial__container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: var(--padding-section) var(--padding-inline);
}

.testimonial__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.testimonial__btn--prev-hide {
    display: none;
}

.testimonial__line-break {
    display: none;
}

.testimonial-card__name,
.testimonial-card__role {
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-tight);
    font-size: var(--font-size-xxxmedium);
}

.testimonial-card__avatar {
    width: 128px;
    margin: 32px;
}

.testimonial-card__info {
    margin-top: 32px;
}

.testimonial-card__name {
    color: var(--color-highlight);
}

.testimonial-card__role,
.testimonial-card__text {
    color: var(--color-text-primary);
}

.testimonial-card__rating {
    margin: 30px;
}

.testimonial-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__control {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.testimonial__pagination {
    display: flex;
    gap: 22px;
    margin: 64px 0;
}

.testimonial__dot {
    width: 24px;
    height: 24px;
    background-color: var(--color-border);
    border-radius: var(--radius-full);
}

.testimonial__dot--active {
    background-color: var(--color-accent);
}

@media(min-width: 480px) {
    .testimonial__background {
        background-image: url('../../assets/images/testimonial-background.svg');
        background-size: cover;
        width: 100%;
        height: 50%;
        position: absolute;
        top: 57%;
        background-position: center;
        left: 0;
        z-index: -1;
    }

    .testimonial__container {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .testimonial__btn--prev-hide {
        display: flex;
    }

    .testimonial__btn--prev {
        display: none;
    }

    .testimonial__control {
        width: fit-content;
    }

    .testimonial__body {
        width: 53%;
        text-align: center;
    }
}

@media(min-width: 1024px) {
    .testimonial__background {
        height: 100%;
        top: 28%;
    }
}
