.testimonial__container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2.8rem 0;
}

.testimonial__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.testimonial__btn--prev-hide {
    display: none !important;
}

.testimonial__line-break {
    display: none;
}

.testimonial-card__name,
.testimonial-card__role {
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-tight);
    font-size: var(--font-size-xxxmedium);
}

.testimonial-card__text {
    margin-top: 2rem;
}

.testimonial-card__avatar {
    width: 8rem;
    margin: 2.55rem;
}

.testimonial-card__info {
    margin-top: 1.25rem;
}

.testimonial-card__name {
    color: var(--color-highlight);
}

.testimonial-card__role,
.testimonial-card__text {
    color: var(--color-text-primary);
}

.testimonial-card__rating {
    margin: 1.6rem;
}

.testimonial-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__control {
    display: flex;
    flex-direction: row;
    width: 83.5%;
    justify-content: space-between;
}

.testimonial__pagination {
    display: flex;
    gap: 1.5rem;
    margin: 4.1rem 0;
}

.testimonial__dot {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-border);
    border-radius: var(--radius-full);
}

.testimonial__dot--active {
    background-color: var(--color-accent);
}

@media(min-width: 480px) {
    .testimonial__background {
        background-image: url('../../assets/images/testimonial-background.svg');
        background-size: cover;
        width: 100%;
        height: 55%;
        position: absolute;
        top: 52%;
        background-position: center;
        left: 0;
        z-index: -1;
    }

    .testimonial__container {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 3.4rem 3.4rem 7rem;
    }

    .testimonial__btn--prev-hide {
        display: flex !important;
        margin-bottom: 3.4rem;
    }

    .testimonial__btn--prev {
        display: none !important;
    }

    .testimonial__control {
        width: fit-content;
        margin-bottom: 3.4rem;
    }

    .testimonial-card__text {
        padding: 0 2rem;
    }

    .testimonial__pagination {
        margin: 3.3rem 0;
    }

    .testimonial__body {
        width: 70%;
        text-align: center;
    }
}

@media(min-width: 1024px) {
    .testimonial__container {
        padding: 4.4rem 0 2.8rem;
    }

    .testimonial__body {
        width: 53%;
    }

    .testimonial__background {
        height: 100%;
        top: 26%;
    }

    .testimonial-card__text {
        padding: 0;
    }
}