.destination {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 0 1.65rem;
}

.destination__container {
    max-width: var(--max-width-container-secondary);
    margin: 0 auto;
    padding: 0.7rem 0;
    display: flex;
    flex-direction: column;
}

.destination__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination__header-row {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.destination__card-title,
.destination__card-price,
.destination__card-rate {
    font-size: var(--font-size-xxxmedium);
    font-weight: var(--font-weight-body);
}

.destination__card-image {
    height: 19.65rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: var(--radius-xl);
    border-top-right-radius: var(--radius-xl);
}

.destination__title {
    margin-bottom: 1.8rem;
}

.destination__card-price {
    order: 1;
}

.destination__card-title {
    order: 2;
}

.destination__card-rate {
    order: 3;
}

.destination__card {
    width: 93%;
    cursor: pointer;
}

.destination__row {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.destination__controls {
    display: flex;
    justify-content: space-between;
    width: 94%;
}

.destination__cards {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
    gap: 2.8rem;
}

.destination__card-content {
    display: flex;
    padding: 1.9rem;
    flex-direction: column;
    color: var(--color-heading);
    gap: 1rem;
}

.destination__card-price {
    color: var(--color-accent);
}

.destination__card-rate {
    color: var(--color-highlight);
    display: flex;
    gap: 0.3rem;
    flex-wrap: nowrap;
    margin-top: 1rem;
}

.destination__card-rate-icon {
    max-width: 1.5rem;
}

@media(min-width: 480px) {
    .destination__card {
        width: 75%;
    }
}

@media(min-width: 630px) {
    .destination__card {
        width: 60%;
    }
}

/*Fix size*/
@media (min-width: 880px) {
    .destination {
        padding: 0 2rem;
    }

    .destination__container {
        padding: 4.4rem 0;
        margin-left: 1rem;
    }

    .destination__cards {
        flex-direction: row;
        gap: 1.5rem;
        justify-content: center;
        margin-top: 4.1rem;
    }

    .destination__card {
        max-width: 17.5rem;
    }

    .destination__controls {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-top: 2rem;
    }

    .destination__card-image {
        height: 19.7rem;
        object-fit: fill;
    }
}

@media (min-width: 800px) {
    .destination__cards {
        gap: 1.85rem;
    }
}

@media (min-width: 1145px) {
    .destination__container {
        padding: 0.5rem 0 3rem;
        margin: 0 auto;
    }

    .destination__header {
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
    }

    .destination__controls {
        display: flex;
        justify-content: space-between;
        width: 74%;
        margin-top: 0;
    }

    .destination__header-row {
        flex-direction: column;
        align-items: start;
        text-align: start;
        width: 100%;
    }

    .destination__title {
        margin-bottom: 2rem;
    }

    .destination__card-image {
        height: 21.8rem;
    }

        .destination__cards {
        margin-top: 2.1rem;
    }

    .destination__row {
        flex-direction: row;
    }

    .destination__card-price {
        order: 1;
    }

    .destination__card-title {
        order: 1;
    }

    .destination__card-rate {
        order: 2;
    }

    .destination__controls {
        justify-content: flex-end;
    }

    .destination__card {
        flex: 0 0 auto;
        max-width: 31.5%;
        gap: 0;
    }
}

  