.partner {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 0 3.4rem 0 1.8rem;
}

.partner__container {
    max-width: var(--max-width-container-secondary);
    margin: 0 auto;
    padding: 0.4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.partner__item-tripadvisor,
.partner__item-expedia,
.partner__item-booking,
.partner__item-airbnb,
.partner__item-orbitz {
    height: auto;
    flex: 0 0 auto;
}

.partner__item-booking,
.partner__item-orbitz {
    width: 28%;
}

.partner__item-tripadvisor {
    width: 33%;
}

.partner__item-expedia,
.partner__item-airbnb {
    width: 17%;
}

@media (min-width: 481px) {
    .partner {
        padding: 5.7rem 0;
    }

    .partner__container {
        padding: 0 10%;
    }

    .partner__item-tripadvisor,
    .partner__item-expedia,
    .partner__item-booking,
    .partner__item-airbnb,
    .partner__item-orbitz {
        width: fit-content;
    }
}

/*line break*/
@media (min-width: 880px) {
    .partner {
        padding: 5.7rem 0;
    }

    .partner__container {
        padding: 0 16%;
        margin-left: 1rem;
        gap: 1.8rem;
    }
}

@media (min-width: 1025px) {
    .partner {
        padding: 0 2rem;
    }

    .partner__container {
        padding: 4.8rem 0 2rem;
        justify-content: space-between;
        gap: 1rem;
    }
}

@media (min-width: 1240px) {
    .partner {
        padding: 0 3rem 0 7rem;
    }

    .partner__container {
        padding: 4.8rem 0 2rem;
        justify-content: space-between;
        gap: 1rem;
    }
}