.service {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 0 2rem;
}

.service__container {
    display: flex;
    max-width: var(--max-width-container-secondary);
    margin: 0 auto;
    padding: 3.35rem 0 4rem;
    align-items: center;
    flex-direction: column;
}

.service__header {
    text-align: center;
}

.service__cards {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1.1rem;
    width: 100%;
    align-items: center;
}

.service-card {
    padding: 1.83rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    width: 96%;
}

.service-card__icon {
    width: 4rem;
}

.service-card__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.service-card__heading {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-tight);
    color: var(--color-heading);
}

@media(min-width: 481px) {
    .service {
        margin-left: 1rem;
    }

    .service__container {
        padding: 2.5rem 0 4.1rem;
    }

    .service-card__heading {
        font-size: var(--font-size-slarge);
    }
}

/*Fix size*/
@media (min-width: 820px) {
    .service__cards {
        flex-direction: row;
        justify-content: center;
        gap: 0.9rem;
        margin-top: 2.9rem;
    }

    .service-card {
        max-width: 18.1rem;
        padding: 4rem 2.8rem 1.7rem;
        gap: 4.15rem;
    }
}

@media (min-width: 936px) {
    .service-card {
        max-width: 18.1rem;
        padding: 4rem 4rem 1.7rem;
        gap: 4.15rem;
    }
}

@media (min-width: 1025px) {
    .service {
        margin: 0 auto;
    }

    .service__container {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .service__header {
        text-align: start;
        margin-bottom: 1rem;
    }

    .service__cards {
        justify-content: start;
        overflow-x: auto;
        margin-top: 3.1rem;
        padding: 1.5rem 2rem 5.6rem 2rem;
        overflow-y: hidden;
        transition: overflow 0.3s ease;
        scroll-snap-align: start;
    }

    .service__cards:hover {
        overflow-y: auto;
    }

    .service__cards::-webkit-scrollbar {
        display: none;
    }

    .service__cards::-webkit-scrollbar-thumb {
        background-color: rgba(162, 161, 161, 0.3);
        border-radius: var(--radius-xl);
    }

    .service__cards:hover::-webkit-scrollbar {
        display: block;
    }

    .service-card {
        flex: 0 0 auto;
        max-width: 22.2rem;
        padding: 3rem 4rem 5.6rem;

    }

    .service-card__heading {
        font-size: var(--font-size-slarge);
        font-weight: var(--font-weight-body);
        color: var(--color-heading);
    }

    .service-card__text {
        max-width: 13.75rem;
    }
}