<section id="special-deals" class="destination">

    <div class="destination__header">
        <span class="label destination__label">Top Destination</span>
        <div class="destination__row-header">
            <h2 class="title destination__title">Explore top destination</h2>
            <div class="destination__controls">
                <button class="slider__btn white-button slider__btn--prev">
                    <img src="./assets/images/arrow-left.svg" alt="Previous">
                </button>
                <button class="slider__btn purple-button slider__btn--next">
                    <img src="./assets/images/arrow-right.svg" alt="Next">
                </button>
            </div>
        </div>
    </div>

    <div class="destination__list-card">
        <article class="card destination__card">
            <img src="./assets/images/destination-beach.svg" alt="Parafise Beach" class="destination__card-image">
            <div class="destination__card-content">
                <div class="destination__row">
                    <h3 class="destination__card-title">Paradise Beach, Bantayan Island</h3>
                    <p class="destination__card-price">$550.16</p>
                </div>
                <h3 class="description destination__card-place">Rome, Italy</h3>
                <p class="destination__card-rate">4.8
                    <img src="./assets/images/destination-star.svg" alt="rate star" class="destination__card-rate-icon">
                </p>
            </div>
        </article>
        <article class="card destination__card">
            <img src="./assets/images/destination-lion-fish.svg" alt="ocean lion fish" class="destination__card-image">
            <div class="destination__card-content">
                <div class="destination__row">
                    <h3 class="destination__card-title">Ocean with full of Colors</h3>
                    <p class="destination__card-price">$20.99</p>
                </div>
                <h3 class="description destination__card-place">Maldives</h3>
                <p class="destination__card-rate">4.5
                    <img src="./assets/images/destination-star.svg" alt="rate star" class="destination__card-rate-icon">
                </p>
            </div>
        </article>
        <article class="card destination__card">
            <img src="./assets/images/destination-mountain.svg" alt="Parafise Beach" class="destination__card-image">
            <div class="destination__card-content">
                <div class="destination__row">
                    <h3 class="destination__card-title">Mountain View, Above the cloud</h3>
                    <p class="destination__card-price">$150.99</p>
                </div>
                <p class="description destination__card-place">United Arab Emeries </p>
                <p class="destination__card-rate">5.0
                    <img src="./assets/images/destination-star.svg" alt="rate star" class="destination__card-rate-icon">
                </p>
            </div>
        </article>
    </div>
</section>