<section class="feature">
    <div class="feature__container">
        <div class="feature__content-wrapper">
            <div class="feature__content">
                <span class="label feature__label">Key Features</span>
                <h2 class="title feature__title">We offer best services</h2>
                <p class="description feature__description-title">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical
                    Latin literature
                    <br class="feature__line-break">from 45 BC.
                </p>
            </div>
            <ul class="feature__cards">
                <li class="white-button feature__card">
                    <figure class="feature__card-container">
                        <img src="./assets/images/feature-location-icon.svg" alt="Location Icon"class="feature__icon" />
                        <figcaption class="feature__card-content">
                            <h2 class="feature__card-title">We offer best services</h2>
                            <p class="description feature__description">Lorem Ipsum is not simply random text</p>
                        </figcaption>
                    </figure>
                </li>

                <li class="white-button feature__card feature__card--schedule-icon">
                    <figure class="feature__card-container">
                        <img src="./assets/images/feature-schedule-icon.svg" alt="Calendar Icon" class="feature__icon" />
                        <div class="feature__card-content">
                            <h2 class="feature__card-title">Schedule your trip</h2>
                            <p class="description feature__description">It has roots in a piece of classical</p>
                        </div>
                    </figure>
                </li>

                <li class="white-button feature__card">
                    <figure class="feature__card-container">
                        <img src="./assets/images/feature-coupon-icon.svg" alt="Coupon Icon" class="feature__icon" />
                        <div class="feature__card-content">
                            <h2 class="feature__card-title">Get discounted coupons</h2>
                            <p class="description feature__description">Lorem Ipsum is not simply random text</p>
                        </div>
                    </figure>
                </li>
            </ul>
        </div>
        <div class="feature__image-wrapper">
            <img src="./assets/images/feature-background-paradise-on-earth.png" alt="Paradise on Earth" class="feature__right-wrapper--image">
        </div>
    </div>
</section>