<footer class="footer">
    <div class="footer__container">
        <div class="footer__about">
            <div class="footer__logo">
                <img src="./assets/images/Logo.svg" alt="Travlog Logo" class="slider__logo" />
                <span class="logo__brand footer__brand">Travlog</span>
            </div>
            <p class="description footer__description">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC.
            </p>
            <div class="footer__socials">
                <a href="#" class="footer__social-icon"><img src="./assets/images/facebook-logo.svg" alt="Facebook"></a>
                <a href="#" class="footer__social-icon"><img src="./assets/images/twitter-logo.svg" alt="Twitter"></a>
                <a href="#" class="footer__social-icon"><img src="./assets/images/instagram-logo.svg"
                        alt="Instagram"></a>
            </div>
        </div>
        <div class="footer__link-container">
            <div class="footer__links">
                <div class="footer__links--mobile-row">
                    <button class="footer__toggle" aria-expanded="false" name="toggle">
                        <img src="./assets/images/arrow-circle-down.svg" alt="accordion-style button">
                    </button>
                    <h2 class="footer__heading">Company</h2>
                </div>
                <ul class="description footer__list">
                    <li><a href="#" class="link footer__link">About</a></li>
                    <li><a href="#" class="link footer__link">Career</a></li>
                    <li><a href="#" class="link footer__link">Mobile</a></li>
                </ul>
            </div>

            <div class="footer__links">
                <div class="footer__links--mobile-row">
                    <button class="footer__toggle" aria-expanded="false" name="toggle">
                        <img src="./assets/images/arrow-circle-down.svg" alt="accordion-style button">
                    </button>
                    <h2 class="footer__heading">Contact Us</h2>
                </div>
                <ul class="description footer__list">
                    <li><a href="#" class="link footer__link">Why Travlog?</a></li>
                    <li><a href="#" class="link footer__link">Partner with us</a></li>
                    <li><a href="#" class="link footer__link">FAQ’s</a></li>
                    <li><a href="#" class="link footer__link">Blog</a></li>
                </ul>
            </div>

            <div class="footer__links">
                <div class="footer__links--mobile-row">
                    <button class="footer__toggle" aria-expanded="false" name="toggle">
                        <img src="./assets/images/arrow-circle-down.svg" alt="accordion-style button">
                    </button>
                    <h2 class="footer__heading">Meet Us</h2>
                </div>
                <ul class="description footer__list">
                    <div class="footer__text--column-reverse">
                        <li class="footer__text">info@travlog.com</li>
                        <li class="footer__text">+00 92 1234 56789</li>
                    </div>
                    <li class="footer__text">205. R Street, New York <br> BD23200</li>
                </ul>
            </div>
        </div>
    </div>
</footer>