<section id="hero" class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <div class="hero__left-frame">
                <button class="white-button hero__badge">
                    Explore the world!
                    <img src="./assets/images/hero-badge.svg" alt="" aria-hidden="true">
                </button>
                <h1 class="hero__title">Travel <span class="hero__subtitle-inline">top destination</span> <br class="hero__title--line-break">of the world
                </h1>
                <p class="description hero__subtitle">We always make our customer happy by <br class="hero__description--line-break1"> providing <br class="hero__description--line-break2"> as many choices as
                    possible </p>
                <div class="hero__cta">
                    <button class="purple-button hero__button--primary" name="Get Started">Get Started</button>
                    <button class="white-button hero__button--secondary" name="Watch demo">
                        <img src="./assets/images/watch-demo.svg" alt="" aria-hidden="true">
                        Watch Demo</button>
                </div>
            </div>
            <div class="hero__right-frame">
                <div class="hero__background">
                    <img src="./assets/images/hero-bg.svg" alt="flight path">
                </div>
                <div class="hero__media-group">
                    <div class="hero__photo--santorini">
                        <img src="./assets/images/hero-santorini.svg" alt="Santorini">
                    </div>
                    <div class="hero__photo--mountain">
                        <img src="./assets/images/hero-mountain.svg" alt="A poem for all writters">
                    </div>
                    <div class="hero__photo--city">
                        <img src="./assets/images/hero-city.svg" alt="City">
                    </div>
                </div>
                <button class="hero__icon--send">
                    <img src="./assets/images/hero-send.svg" alt="Send mail">
                </button>
                <button class="hero__icon--add-friend">
                    <img src="./assets/images/hero-add-friend.svg" alt="Add friend">
                </button>
                <button class="hero__top-place">
                    <img src="./assets/images/hero-place.svg" alt="" aria-hidden="true" class="hero__top-place-icon">
                    Top Places
                </button>
            </div>
        </div>
    </div>
</section>