<section class="partner-logos">
  <h1 class="sr-only">Partner-logos</h1>
  <img src="./assets/images/partner-tripadvisor.svg" alt="Tripadvisor" class="partner-logos__big-item">
  <img src="./assets/images/partner-expedia.svg" alt="Expedia" class="partner-logos__item">
  <img src="./assets/images/partner-booking.svg" alt="Booking.com" class="partner-logos__big-item">
  <img src="./assets/images/partner-airbnb.svg" alt="Airbnb" class="partner-logos__item">
  <img src="./assets/images/partner-orbitz.svg" alt="Orbitz" class="partner-logos__big-item">
</section>
