<section class="partner">
  <div class="partner__container">
    <img src="./assets/images/partner-tripadvisor.svg" alt="Tripadvisor" class="partner__item-tripadvisor">
    <img src="./assets/images/partner-expedia.svg" alt="Expedia" class="partner__item-expedia">
    <img src="./assets/images/partner-booking.svg" alt="Booking.com" class="partner__item-booking">
    <img src="./assets/images/partner-airbnb.svg" alt="Airbnb" class="partner__item-airbnb">
    <img src="./assets/images/partner-orbitz.svg" alt="Orbitz" class="partner__item-orbitz">
  </div>
</section>