<div class="testimonial__background"></div>
<section id="testimonial" class="testimonial">
  <div class="testimonial__container">
    <button class="slider__btn white-button testimonial__btn--prev-hide">
      <img src="./assets/images/arrow-left.svg" alt="Previous">
    </button>

    <div class="testimonial__body">
      <span class="label testimonial__label">Testimonials</span>
      <h2 class="title testimonial__title">Trust our clients</h2>

      <article class="testimonial-card">
        <h2 class="sr-only">Testimonial blog review</h2>
        <img src="./assets/images/testinmonial-mark-smith-avatar.svg" alt="Avatar" class="testimonial-card__avatar">

        <div class="testimonial-card__info">
          <span class="testimonial-card__name">Mark Smith</span>
          <span class="testimonial-card__role"> / Travel Enthusiast</span>
        </div>

        <div class="testimonial-card__rating">
          <img src="./assets/images/testimonial-five-stars.svg" alt="Rating">
        </div>

        <p class="description testimonial-card__text">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots <br
            class="testimonial__line-break">
          In a piece of classical Latin literature from 45 BC.
        </p>
      </article>

      <div class="testimonial__pagination">
        <span class="testimonial__dot"></span>
        <span class="testimonial__dot testimonial__dot--active"></span>
        <span class="testimonial__dot"></span>
      </div>
    </div>

    <div class="testimonial__controls">
      <button class="slider__btn white-button testimonial__btn--prev" name="Previous button">
        <img src="./assets/images/arrow-left.svg" alt="Previous">
      </button>
      <button class="slider__btn purple-button slider__btn--next testimonial__btn--next" name="Next button">
        <img src="./assets/images/arrow-right.svg" alt="Next">
      </button>
    </div>
  </div>
</section>