<section class="travel-point">
    <div class="travel-point__container">
        <div class="travel-point__image-wrapper">
            <img src="./assets/images/travel-point-traveller.png" alt="travel at discounted prices" class="travel-point__image-background">
        </div>
        <div class="travel-point__content-wrapper">
            <div class="travel-point__content">
                <span class="label travel-point__label">TRAVEL POINT</span>
                <h1 class="title travel-point__title">We helping you find your dream location</h1>
                <article class="description travel-point__description">
                    <h2 class="sr-only">Travel point description</h2>
                    Contrary to popular belief, Lorem Ipsum is not simply
                    random text. It has roots in a piece of classical Latin literature from 45 BC.
                </article>
            </div>
            <div class="travel-point__stats">
                <div class="travel-point__stat">
                    <span class="travel-point__value">500+</span>
                    <span class="travel-point__stat-label">Holiday Package</span>
                </div>
                <div class="travel-point__stat">
                    <span class="travel-point__value">100</span>
                    <span class="travel-point__stat-label">Luxury Hotel</span>
                </div>
                <div class="travel-point__stat">
                    <span class="travel-point__value">7</span>
                    <span class="travel-point__stat-label">Premium Airlines</span>
                </div>
                <div class="travel-point__stat">
                    <span class="travel-point__value">2k+</span>
                    <span class="travel-point__stat-label">Happy Customer</span>
                </div>
            </div>
        </div>
    </div>
</section>