body {
  font-family: var(--font-heading);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  line-height: var(--line-height-mobile);
  font-weight: var(--font-weight-body);
}

.label {
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: var(--font-size-small-xl);
  letter-spacing: var(--letter-spacing-small);
}

.title {
  color: var(--color-heading);
  font-size: var(--font-size-xslarge);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-body);
  margin: 0.9rem 0;
}

.description {
  font-weight: var(--font-weight-body);
  font-family: var(--font-body);
  color: var(--color-text-secondary);
  line-height: var(--line-height-relaxed);
  font-size: var(--font-size-small-xl);
}

.logo__brand {
  font-size: var(--font-size-logo);
  font-family: var(--font-sub);
  color: var(--color-heading);
  font-style: italic;
  font-weight: var(--font-weight-body);
}

.link {
  cursor: pointer;
}

.link:hover {
  color: var(--color-heading);
}

@media (min-width: 480px) {
  .title {
    font-size: var(--font-size-xxlarge);
  }

  .description {
    font-size: var(--font-size-medium);
  }

  .label {
    font-size: var(--font-size-large);
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: var(--font-size-xxxlarge);
  }
}